<mat-toolbar style="background-color: lightgreen; justify-content: center;">
    <span>
        <button mat-button>
            home
        </button>
        <button mat-button>
            photos
        </button>
        <button mat-button>
            colors
        </button>
        <button mat-button>
            Loaction/Directions
        </button>
        <button mat-button>
            Registry Stream
        </button> 
    </span>
</mat-toolbar>

<h1 style="text-align: center; color: whitesmoke">Kasey & Nate's Wedding</h1>
<h1 style="text-align: center; color: whitesmoke">Date: TBD</h1>
